
<!DOCTYPE html> 
<html lang="fr"> 
  <head> 
    <title>Choix d'activité</title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link href="dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
  </head>
	 <body>
     <a href="/"><p align="center"><img src="logo_nightjawaj.png" alt="logo_nightjawaj" width="170" ></p></a>
	 		<div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="text-center">Choisissez les activités</h1>
                    </div>
                        <div class="modal-body">
                            <form class="modal-md-12 center-block" action="/ajoutactivite" method="post">
                                <select name="type1">
                                    <option value="restaurant">Restaurant</option>
                                    <option value="bar">Bar</option>
                                    <option value="cafe">Café</option>
                                    <option value="night_club">Boite de nuit</option>
                                    <option value="museum">Musée</option>
                                    <option value="park">Parc</option>
                                    <option value="bar">Bar</option>
                                    <option value="amusement_park">Parc d'attraction</option>
                                    <option value="library">Bibliothèque</option>
                                    <option value="casino">Casino</option>
                                    <option value="movie_theater">Bar</option>
                                    <option value="shopping_mall">Centre commercial</option>
                                        <option value="aquarium">Aquarium</option>
                                        <option value="bowling_alley">Bowling</option>
                                        <option selected value="empty"></option>
                                    </select>
                                    <select name="type2">
                                        <option value="restaurant">Restaurant</option>
                                        <option value="bar">Bar</option>
                                        <option value="cafe">Café</option>
                                        <option value="night_club">Boite de nuit</option>
                                        <option value="museum">Musée</option>
                                        <option value="park">Parc</option>
                                        <option value="bar">Bar</option>
                                        <option value="amusement_park">Parc d'attraction</option>
                                        <option value="library">Bibliothèque</option>
                                        <option value="casino">Casino</option>
                                        <option value="movie_theater">Bar</option>
                                        <option value="shopping_mall">Centre commercial</option>
                                        <option value="aquarium">Aquarium</option>
                                        <option value="bowling_alley">Bowling</option>
                                        <option selected value="empty"></option>
                                    </select>
                                    <select name="type3">
                                        <option value="restaurant">Restaurant</option>
                                        <option value="bar">Bar</option>
                                        <option value="cafe">Café</option>
                                        <option value="night_club">Boite de nuit</option>
                                        <option value="museum">Musée</option>
                                        <option value="park">Parc</option>
                                        <option value="bar">Bar</option>
                                        <option value="amusement_park">Parc d'attraction</option>
                                        <option value="library">Bibliothèque</option>
                                        <option value="casino">Casino</option>
                                        <option value="movie_theater">Bar</option>
                                        <option value="shopping_mall">Centre commercial</option>
                                        <option value="aquarium">Aquarium</option>
                                        <option value="bowling_alley">Bowling</option>
                                        <option selected value="empty"></option>
                                    </select>
                                    <select name="type4">
                                        <option value="restaurant">Restaurant</option>
                                        <option value="bar">Bar</option>
                                        <option value="cafe">Café</option>
                                        <option value="night_club">Boite de nuit</option>
                                        <option value="museum">Musée</option>
                                        <option value="park">Parc</option>
                                        <option value="bar">Bar</option>
                                        <option value="amusement_park">Parc d'attraction</option>
                                        <option value="library">Bibliothèque</option>
                                        <option value="casino">Casino</option>
                                        <option value="movie_theater">Bar</option>
                                        <option value="shopping_mall">Centre commercial</option>
                                        <option value="aquarium">Aquarium</option>
                                        <option value="bowling_alley">Bowling</option>
                                        <option selected value="empty"></option>
                                    </select>
                                    <select name="type5">
                                        <option value="restaurant">Restaurant</option>
                                        <option value="bar">Bar</option>
                                        <option value="cafe">Café</option>
                                        <option value="night_club">Boite de nuit</option>
                                        <option value="museum">Musée</option>
                                        <option value="park">Parc</option>
                                        <option value="bar">Bar</option>
                                        <option value="amusement_park">Parc d'attraction</option>
                                        <option value="library">Bibliothèque</option>
                                        <option value="casino">Casino</option>
                                        <option value="movie_theater">Bar</option>
                                        <option value="shopping_mall">Centre commercial</option>
                                        <option value="aquarium">Aquarium</option>
                                        <option value="bowling_alley">Bowling</option>
                                        <option selected value="empty"></option>
                                    </select>
                                    <input type="hidden" name="ide" value="{{ide}}">
                                    <input >
								</form>
								 
							</div>
					</div>
			</div>
	 	 	   <!--liaison aux script-->
  <script src="asset/js/jquery.js" type="text/javascript"></script>
  <script src="dist/js/bootstrap.min.js" type="text/javascript"></script>
  </body>
  </html>