
<!DOCTYPE html> 
<html lang="fr"> 
  <head> 
    <title>Error</title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
 <link href="dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="dist/css/bootstrap-theme.min.css" rel="stylesheet" />
   </head>
   
   
   
   
<script src="assets/js/html5shiv.js"></script>
     <script src="assets/js/respond.min.js"></script>
     </head>
	 <body>
	 
	 
	 
	 <h1> {{message}}</h1>
     <h2><a href="/utilisateur.html">Return home</a></h2>
	 
	 
	 
	 
	 
	 
	 
	 
	 	 	 	   <!--liaison aux script-->
  <script src="asset/js/jquery.js" type="text/javascript"></script>
  <script src="dist/js/bootstrap.min.js" type="text/javascript"></script>
  </body>
  </html>